@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,600,700,800|Poppins:400,500,600,700|Yellowtail&display=swap);


/******* Header1 ********/
.header1 {
    background-color: orangered;

}

/********** SOCIAL ***********/
.social {
    margin-left: 100px;
}

.social a i {
    font-size: 30px;
    margin: 10px;
    color: aliceblue;
    background: rgb(56, 50, 50);
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}

/*************************** SEARCH ENGINE ***********************************/
.header-info-center {
    background-color: white;
    border-radius: 50px 50px 50px 50px;
}

.header-info-center input {
    border-radius: 50px 50px 50px 50px;
    border: #fff;
    width: 300px;
    height: 40px;
    margin-left: 20px;

}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(248, 237, 237);
}

/****************************** SEARCH ICON **********************/
.header-info-center i {
    cursor: pointer;
    width: 30px;
}

/********************************* ABOUT THE WEBSITE INFO. ***********************/
.header-info-right i {
    color: #000;
    margin-top: 20px;
    margin-left: 15px;
}
.header3{
    background-color: aqua;
    color: #ec0505;
    font-size: 18px;
}
/***************************** CHOOSE LANGUAGE *********************/
.language {
    margin: 30px;
}

.language img {
    padding-right: 15px;
}

.language select {
    cursor: pointer;
    background-color: orangered;
    color: aliceblue;
    border: orangered;
}

/***************************** MEDIA QUERIES OF HEADER 1 / HEADER TOP FOR TAB ****************************/
@media only screen and (min-width:768px) and (max-width:1186px) {
    .social {
        margin-left: 20px;
    }

    .social a i {
        font-size: 20px;
        padding: 10px;
    }

    .header-info-center {
        margin-left: -20px;
    }

    .header-info-center input {
        width: 200px;

    }

    .header-info-right i {
        display: none;
    }

    .language {
        display: none;
    }

    .navbar {
        margin-right: 10px;
    }
}

/***************************** MEDIA QUERIES OF HEADER 1 / HEADER TOP FOR MOBILE ****************************/
@media only screen and (min-width:193px) and (max-width:720px) {
    .social a i {
        display: none;
    }

    .header-info-right i {
        display: none;
    }

    .language {
        display: none;
    }

    .navbar {
        margin-right: 5px;
    }
}

/**************** HEADER 2 ************/
.header2 {
    padding-top: 10px;
    background-color: #ffffff;
}

/* ************************* LOGO ********************* */
.logo img {
    margin-left: 130px;
    cursor: pointer;
}

/* ********************** LIST FOR TRAVSERING ********************* */
.header2 ul {
    margin-right: 300px;
}

.header2 ul li a {
    display: inline-block;
    padding: 20px;
    font-size: large;
    color: #000;
    text-decoration: none;
}

.header2 ul .no {
    display: none;
}

.header2 ul li a:hover {
    color: orangered;
}

/* *********************** SIGN IN BUTTON *****************/
.header2 .btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: orangered;
    padding: 5px 25px 5px 25px;
    text-decoration: none;
    margin-left: 100px;
}

.header2 .btn:hover {
    background: #ec0505;
    text-decoration: none;
}

/* *************************** MEDIA QUERIES FOR HEADER 2 / TABLET ************************* */
@media only screen and (min-width:768px) and (max-width:1186px) {
    .header2 .btn {
        display: none;
    }

    .header2 .logo img {
        width: 140px;
        margin-left: 50px;
    }

    .header2 ul {
        margin-right: 20px;
    }

    .header2 ul li a {
        font-size: 18px;
        padding: 5px;
    }

    .header2 ul .no {
        display: block;
    }
}

/* *************************** MEDIA QUERIES FOR HEADER 2 / MOBILE ************************* */
@media only screen and (min-width:193px) and (max-width:720px) {
    .header2 .btn {
        display: none;
    }

    .header2 .logo img {
        width: 80px;
        margin-left: 10px;
    }

    .header2 ul {
        margin-right: 20px;
    }

    .header2 ul li a {
        font-size: 18px;
        padding: 5px;
    }

    .header2 ul .no {
        display: block;
    }
}

/************************ MAIN AREA ***********************/
.main {
    background-color: orangered;
    margin-top: 40px;
    height: 700px;
}

/********************** RIGHT DIVISION ***********************/
.main .man img {
    width: 200px;
    margin-left: 140px;
    margin-top: 30px;
}

.main .register h1 {
    font-size: 55px;
    font-family: serif;
    letter-spacing: 1px;
    margin-right: 50px;
    margin-top: 50px;
}

.right {
    color: #fff;
}

.seller {
    margin-left: 160px;
    margin-top: -20px;

}

.seller img {
    border-radius: 50px 50px 50px 50px;
    width: 85px;
    box-shadow: 5px 5px 10px rgb(43, 40, 40);
    -moz-box-shadow: 10px 10px 5px rgb(238, 221, 221);

}

.A,
.B,
.C {
    text-align: center;
    padding-left: 40px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

/**************************** RIGHT DIVISION **************************/
.right-section {
    margin-right: 150px;
}

/******************************** REGISTRATION FORM **************************/
.form {
    background-color: #fff;
    height: 400px;
    width: 400px;
    margin-right: 50px;
}

.form .register {
    background-color: rgb(32, 26, 26);
    text-align: center;
    height: 30px;
}

.form .register h6 {
    color: #fff;
    padding: 5px;
}

.form .mail {
    padding: 20px 0px 0px 20px;
}

.form .mail input {
    width: 350px;
}

.form .mail .select {
    padding: 20px 0px 0px 0px;
}

.form .mail label::after {
    content: "*";
    color: #ec0505;
}

.form .submit {
    padding: 10px 0px 0px 0px;
}

.form .submit input {
    background-color: orangered;
    color: #fff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

/******************************* ADDITIONAL INFORMATION *****************************/
.main .down {
    color: #fff;
    text-align: center;
}

.main .down .call {
    background-color: rgb(58, 50, 50);
    width: 410px;
}

.main .down .sell {
    background-color: rgb(58, 50, 50);
    width: 410px;
}

.main .down p1 {
    margin-right: 50px;

}

/*********************************** MEDIA QUERIES FOR MAIN / FOR SMALL LAPTOP SIZE SCREEN ********************************/
@media only screen and (max-width:1296px) {
    .main .right {
        display: none;
    }

    .main .right-section {
        margin-left: 450px;
        margin-top: 80px;
    }
}

/******************* MEDIA QUERIES OF MAIN FOR TAB SIZE ********************************/
@media only screen and (min-width:768px) and (max-width:1186px) {
    .main .right {
        display: none;
    }

    .main .right-section {
        margin-left: 210px;
        margin-top: 100px;
    }
}

/******************************* MEDIA QUERIES OF MAIN FOR MOBILE SIZE DEVICES ***********************************/
@media only screen and (min-width:193px) and (max-width:720px) {
    .main .right {
        display: none;
    }

    .form {
        width: 300px;
        height: 500px;
    }

    .form .mail input {
        width: 210px;
        margin-top: 10px;
    }

    .form .mail label {
        margin-bottom: px;
    }

    .main .right-section {
        margin-left: 50px;
        margin-top: 40px;
    }

    .main .down .call {
        background-color: rgb(58, 50, 50);
        width: 310px;
    }

    .main .down .sell {
        background-color: rgb(58, 50, 50);
        width: 310px;
    }

    .main .down {
        color: #fff;
        text-align: center;
        margin-top: 5px;
    }

    .main .down p1 {
        margin-right: 50px;
    }

    .laugh {
        text-align: center;
    }
}

/****************************** AUTHORS AND THEIR VIEW ************************************/
.author {
    text-align: center;
}

.author h2 {
    margin-top: 80px;
    margin-left: 450px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.author .john {
    margin-top: 80px;
    margin-left: 120px;
    text-align: center;
}

.author .john img {
    width: 140px;
    margin-left: 100px;
    cursor: pointer;
}

.author .john p {
    padding-left: 80px;
    margin-top: 20px;
}

.author .john h6 {
    font-weight: bold;
    margin-left: 80px;
    padding-bottom: 10px;
}

/**************************** MEDIA FOR TABLET / AUTHOR ******************************/
@media only screen and (min-width:768px) and (max-width:1186px) {
    .author h2 {
        margin-top: 80px;
        margin-left: 200px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
    }
}

/******************************* MEDIA FOR MOBILE / AUTHOR SECTION *********************************/
@media only screen and (min-width:193px) and (max-width:720px) {
    .author h2 {
        margin-top: 80px;
        margin-left: 60px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }

    .author .john img {
        margin-left: -80px;
        text-align: center;
    }

    .author .john p {
        margin-left: -150px;
    }

    .author .john h6 {
        margin-left: -80px;
    }
}

/**************************** SECURITY SECTION *****************************/
main .security {
    margin-left: 80px;
    margin-top: 80px;
    padding-right: 80px;
    text-align: center;
    font-size: 15px;
}

main .security .trust {
    border: solid;
    border-color: rgb(238, 233, 233);
    padding: 20px;
    cursor: pointer;
}

/********************************** POLICY SECTION ****************************/
main .policy {
    text-align: left;
    margin-top: 50px;
    margin-left: 80px;
    padding-right: 80px;
}

main .policy .subscribe input {
    border: #fff;
    background-color: aliceblue;
    text-align: center;
}

main .policy .subscribe span {
    cursor: pointer;
    background-color: rgb(14, 13, 13);
    color: #fff;
    font-size: 18px;
}

/*************************** FOOTER SECTION ***************************/
footer .footer .payment {
    margin-left: 65px;
    padding-right: 10px;
}

footer .footer p {
    font-weight: bold;
}

footer .footer .facebook a {
    font-size: 30px;
    padding: 5px;

}

footer .footer .facebook {
    margin-right: 120px;

}

footer .footer .facebook p {
    margin-top: -80px;
    margin-right: 90px;
}

/****************************** MEDIA FOR MOBILE / FOOTER SECTION ************************/
@media only screen and (min-width:193px) and (max-width:720px) {
    footer .footer .facebook {
        margin-right: 410px;

    }

    footer .footer .facebook p {
        margin-top: 20px;
        margin-left: 10px;
    }
}



/* Login Styles */
#container {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: -1950px;
    position: relative;
}

.container1 .icon i {
    position: absolute;
    top: 0;
    margin-left: 950px;
    font-size: 50px;
    cursor: pointer;
}

/* Card Sizing */
.card {
    width: 800px;
    box-shadow: 40px 20px 40px 2px;
    font-weight: bold;
    z-index: 1000;

}

/* Card font sizing */
.card h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;

}

/* Fieldset styling */
fieldset {
    font-size: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset input {
    margin: 20px;
    box-shadow: 10px 5px 10px 2px rgb(228, 78, 8);
    border: rgb(155, 199, 240) solid 2px;
    width: 300px;
}

/* Adding and Displaying Image */
#display_image {
    width: 355px;
    height: 250px;
    border: 1px solid black;
    margin-top: 10px;
    background-position: center;
    background-size: cover;
}

#display_image {
    object-fit: cover;
}

/* Submit Button */
.submits {
    text-align: center;
    margin-top: 20px;
}

button a {
    text-decoration: none;
}

/* Submit Button Styling */
.submits button {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    width: 220px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    color: #131212;
    background-color: orangered;
    border: rgb(17, 17, 17) solid 2px;
}

.submits button a:hover {
    color: rgb(232, 232, 236);
}

/* Make background blur */
.blur {
    opacity: 0.5;
}

/* Add Items Heading */
.add {
    text-align: center;
    margin-top: 50px;
    font-weight: bolder;
    color: orangered;
    font-family: sans-serif;
    font-size: 50px;
}

.add h2 {
    color: #ec0505;
}

/* Add Item To list Styles */
.container {
    font-size: 20px;
    font-weight: 500;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 0, 0);
}

.container button {
    color: aliceblue;
    margin-left: 1020px;
}

.container button a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

.container button a:hover {
    color: aqua;
}

#chief {
    margin-top: 50px;
    margin-left: 90px;
}

#chief #prod {
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Luck Part Styling */
/*************************************************   CARD STYLING   ***********************/

#luck {
    margin-top: -700px;
}

#luck .card {
    width: 20rem;
    margin: 100px;
}

/****************************************   MEDIA *********************************/
@media (min-width:768px) and (max-width:1024px) {
    #luck .card {
        margin: 150px;
    }
}

#luck .card-body {
    box-shadow: 0 0 20px 0;
    text-align: center;
    height: 25rem;
}

/***********************************  IMAGE STYLING **************************/
#luck .card-body img {
    width: 150px;
}

#luck .card-body .thank h1 {
    font-weight: bolder;
    font-size: 30px;
    line-height: 50px;
}

#luck .thank p {
    color: aliceblue;
    margin-top: -15px;
}

#luck .thank p span {
    background-color: rgb(231, 100, 13);
    padding: 2px 10px 2px 10px;
    text-align: center;
}

/* **************************************   % OFFER AREA STYLING **************************************/
#luck .order {
    position: relative;

}

#luck .order p {
    font-weight: bold;

}

#luck .order p span {
    background-color: white;
    position: relative;
    top: 28px;
}

#luck .order .off {
    border: 2px solid gray;
}

#luck .order .off h2 {
    color: rgb(231, 100, 13);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#luck .order p1 {
    font-weight: bold;
    position: relative;
    bottom: 15px;
}

#luck .order p1 span {
    background-color: white;
}

/*********************************** COUPON CODE *********************************888*/
#luck .coupon .code {
    font-weight: bold;
}

#luck .coupon .limit {
    font-weight: 500;
}

#luck #cross i {
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 30px;
}

/* External Styles for JS to use as Classlist */
/* Hide object */
.hide {
    visibility: hidden;
}

/* Show Object */
.show {
    visibility: visible;
}

/*Sticky Page  */
.sticky {
    position: fixed;
    margin: auto;
    top: 0;
    box-shadow: 0px 10px 20px rgb(221, 158, 158);
    z-index: 10000;
    behavior: smooth;
}

/* Arrow to go up */
#arrow i {
    font-size: 50px;
    color: yellowgreen;
    position: sticky;
    left: 1200px;
    bottom: 50px;
    cursor: pointer;
    margin-left: 1380px;
    margin-top: 800px;
}